<div self="size-x1" layout="column center-center" class="list">

    <!-- Example of loading a component from a remote hosting site.
         The *list_view* component is loaded from ZUIX site.
         When bundling the app all remote components will be
         crunched into the `app.bundle.js` file and will then
         be loaded from memory. -->

    <div data-ui-load="https://genielabs.github.io/zuix/ui/controls/list_view"
         data-ui-field="list-view"
         self="size-large">

        Loading news list...

    </div>

</div>
