.header {
    font-size: 110%;
    margin-bottom: 8px;
}

.from {
    font-weight: bold;
    margin-right: 10px;
}

.replies {
    border-left: dotted 1px rgba(0,0,0,0.2);
}

.toolbar {
    font-size: 90%;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px;
    margin-left: -12px;
}
.toolbar span {
    margin-right: 12px;
}
.toolbar a {
    color: dodgerblue;
    cursor: pointer;
    margin-right: 2px;
    text-decoration: none;
}

.arrow-open:after {
    content: '\1f863 \ Hide';
    font-style: normal;
}

.arrow-close:after {
    content: '\1f862 \ Show';
    font-style: normal;
}

.arrow-top:after {
    content: '\1f861 \ Top';
    font-style: normal;
}

pre {
    font-size: 95%;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
