<div class="message">

    <div class="header">
        <span class="from" data-ui-field="by"></span>
        <span data-ui-field="time"></span>
    </div>

    <p data-ui-field="body">

        Loading message...

    </p>

    <div class="toolbar">
        <a data-ui-field="replies-toggle"><i class="arrow-close"></i></a>
        <span data-ui-field="replies-count"></span>
        <a data-ui-field="reply">&#8631; Reply</a>
    </div>

    <div data-ui-field="replies" class="replies"></div>

    <div data-ui-field="bottom-bar" class="toolbar">
        <a data-ui-field="replies-top"><i class="arrow-top"></i></a>
    </div>

</div>
