<div self="size-x1" layout="column center-center">

    <div class="main-header" self="size-xlarge top-center">
        <h1><a data-ui-field="title">Thread title...</a></h1>
        <a data-ui-field="url" class="single-line"></a>
        <h3>
            <span data-ui-field="date">...</span>
            by <span data-ui-field="user">...</span>
            / <span data-ui-field="score">...</span>
        </h3>
        <p data-ui-field="body"></p>
        <a data-ui-field="reply">&#8631; Reply</a>
    </div>

    <div data-ui-field="thread"
         layout="column top-stretch"
         self="size-xlarge top-center">
    </div>

    <div data-ui-field="loading"
         self="size-xlarge center-center"
         align="center">
        <h1 class="animated bounce infinite">... loading ...</h1>
    </div>

    <a href="javascript:history.back()" class="back-btn">&#x25c4; back</a>

</div>
