.main-header h1 {
    margin-top: 8px;
    margin-bottom: 0;
}
.main-header h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

a[data-ui-field="reply"] {
    color: dodgerblue;
    cursor: pointer;
    font-weight: bold;
    margin-right: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

a[data-ui-field="title"] {
    color: black;
    text-decoration: none;
}

.main-header {
    padding: 16px;
    margin-bottom: 8px;
}

.back-btn {
    font-size: 160%;
    color: black;
    text-decoration: none;
    padding: 16px;
    margin: 16px;
}

div[data-ui-field="thread"] {
   overflow-x: hidden;
}
div[data-ui-field="thread"] > div > div.message {
    padding-bottom: 16px;
    border-bottom: dotted 2px rgba(0,0,0,0.3);
}

span[data-ui-field="count"] {
    margin-left: 24px;
}