<div class="number" data-ui-field="number"></div>
<div data-ui-field="card" class="content">
    <h3>
        <a data-ui-field="title" class="single-line">Loading...</a>
    </h3>
    <a data-ui-field="url" class="single-line"></a>
    <div data-ui-field="description" class="single-line">
        <span data-ui-field="date">...</span>
        by <span data-ui-field="user">...</span>
        / <span data-ui-field="score">...</span> points
        <a data-ui-field="descendants"></a>
    </div>
</div>
